  #map {
    height: 100%
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #info {
   float: right;
   position: absolute;
   right: 10px;
   top: 10px;
   z-index: 1000;
   background-color: white;
   padding: 5px;
   color: black;
   width: 310px;
   height: 530px;
   /*border-radius: 0px 0px 0px 30px;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);


  }

  #logo {
  position: absolute;
  text-align: center;
  padding: 0px;
  right: 325px;
  top: -40px;
  z-index: 1001;

  }

  h1,h2,h3{

    font-family: monospace;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 35px;
    padding-top: 34px;

  }

#image{
  position: absolute;
padding-left: 35px;
padding-top: 10px;
/*box-shadow: 0 1px 3px rgba(0,0,0,0.12);*/
}
